*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: rgb(241, 209, 209);
    overflow: hidden;
}



.body{
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(255, 232, 232, 0.8);
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 10fr .5fr;
    border: .5em solid orange; 
    background-color: #FFFFFF;
}


.content{
    overflow-y: scroll;
    padding: 20px;
}

.sidebar{
    overflow-y: scroll;
    padding: 20px;
}


/*
TODO:
Experiment with scrolling within grid
Add form to input author, title, number of pages, read/unread
Add items into grid vis JS



*/